.screen-header {
    padding: 23px 23px 10px 23px;
    align-items: center;
}
.screen-header__icons {
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}